@media(max-width: 920px){
    /* HEADER */
    .header__menu {
        gap: 2rem;
        font-size: 1.5rem;
    }

    .hero__title {
        font-size: 2.2rem;
    }

    /* PORTFOLIO */
    .portfolio__grid {
        grid-template-columns: repeat(3, 1fr); /* 3 columnas */
    }

    /* DEFAULT */
    .default {
        flex-direction: row;
    }

    .default__content, .default__media {
        width: 50%;
    }

}